html {
    height: 100%;
    background-color: #797979;
    color: white;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.app .content {
    flex: 1;
    background-color: #fff;
    width: 100%;
}